* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #383838;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: auto;
  transition: all 0.5s;
}

header .header-nav {
  width: 100%;
  display: flex;
  max-height: 124px;
  background-color: var(--gray);
  flex-wrap: wrap;
  z-index: 2;
  justify-content: center;
  position: fixed;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}

.header-nav .nav--marca {
  width: 100%;
  padding: 20px 0;
  display: block;
  text-align: center;
  font-family: "Noto Sans Mono", monospace;
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
  /*border-bottom: 2px solid #878787;*/
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.7);
}

.header-nav .header-nav-menu {
  display: inline-flex;
  list-style: none;
  gap: 30px;
  margin: 20px;
}
.header-nav .header-nav-menu .nav-menu--element {
  transition: all 0.3s;
}
.header-nav .header-nav-menu .nav-menu--element a {
  height: 100%;
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.header-nav .header-nav-menu .nav-menu--element:hover {
  transform: scale(1.1);
  border-bottom: 1px solid white;
}

header .header-main-content {
  width: 100%;
  height: 90vh;
  background-image: url("../assets/img/dev-dots.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

header .header-main-content:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  z-index: 0;
  opacity: 0.3;
}

header .header-main-cover {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

.header-main-content .content-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-main-content .content-text h1 {
  font-family: "Noto Sans Mono", monospace;
  font-size: 2.5rem;
  position: relative;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.header-main-content .content-text p {
  width: 200px;
  text-align: center;
  position: relative;
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  z-index: 1;
}

/*About me*/

main .about-me {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
}

.about-me .me-img-container .me-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  filter: drop-shadow(5px 6px 2px rgba(0, 0, 0, 0.25));
}

.about-me .about-me-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px;
}

.about-me-text h3 {
  font-size: 2.5rem;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 1.8rem;
  margin-bottom: 10px;
  color: var(--gray);
}

.about-me-text p {
  font-size: 1.8rem;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--gray);
}

.about-me .about-me-text .cv {
  width: 125px;
  padding: 10px;
  align-self: center;
  border: 1px solid var(--gray);
  background-color: var(--gray);
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.about-me .about-me-text .cv:hover {
  background-color: white;
  color: var(--gray);
}

/*Proyectos*/
main .proyectos {
  width: 100%;
  background-color: var(--gray);
  box-shadow: 1px 3px 10px black;
  margin: 20px 0;
  padding: 10px 20px;
}

.proyectos .proyectos-texto {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.texto-seccion h3 {
  color: white;
  font-size: 2.5rem;
  font-family: "Noto Sans Mono", monospace;
  font-weight: bold;
  border-bottom: 2px solid white;
}

.proyectos .cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 25px;
}

.proyectos .cards-container .proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-width: 280px;
  max-width: 450px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: transform 0.5s;
}

.proyectos .cards-container .proyecto:hover {
  transform: scale(1.02);
}

.proyectos .cards-container .proyecto .img-proyect {
  width: 100%;
  max-width: 365px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.proyectos .cards-container .proyecto .text-proyect {
  width: 100%;
  max-width: 365px;
  align-self: center;
  margin: 10px 0;
}
.proyectos .cards-container .proyecto .text-proyect h3 {
  margin-left: 20px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
}

.proyectos .cards-container .proyecto .text-proyect p {
  margin-top: 5px;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  color: #bdc3c7;
}

.proyectos .enlaces {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.proyectos .enlaces .enlace {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-family: "Noto Sans Mono", monospace;
  font-weight: bold;
  color: #c9cacc;
}

.proyectos .enlaces .enlace .github-ico {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../assets/ico/101512_logo_512x512.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  fill: white;
  margin: 0 10px;
}

.proyectos .enlaces .more {
  background-color: #656565;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/*Skills*/

.skills {
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.skills .skills-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.skills .skills-text h3 {
  color: black;
  font-size: 2.8rem;
  border-bottom: 2px solid black;
}

.skills .cards-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.skills .cards-skills .card {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
}

.cards-skills .card .card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.cards-skills .card .img-css {
  width: 93px;
  height: 125px;
}

/*Footer*/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
  font-family: "Noto Sans Mono", monospace;
  background-color: var(--gray);
  box-shadow: 1px 3px 10px black;
}
footer .contactSection {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  color: white;
  font-size: 2.5rem;
  font-family: "Noto Sans Mono", monospace;
  font-weight: bold;
  text-decoration: underline;
}

footer .card-footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 10px 20px;
}
footer .titulo-footer {
  color: white;
  font-size: 1.7rem;
  margin: 10px;
}

.texto-footer {
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: white;
  margin: 15px 0;
}

.social ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social ul li {
  margin: 0 10px;
}

.social ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media-img {
  width: 25px;
  height: 25px;
  fill: #fff;
}

/* Form */

.formContact {
  display: flex;
  width: 50%;
  min-width: 280px;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  gap: 10px;
}

.formContact .label {
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}

.formContact .input {
  width: 100%;
  padding: 5px;
  font-size: 1.4rem;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}
.formContact .inputTextArea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
}
.formContact .buttonSend {
  width: 125px;
  padding: 10px;
  align-self: center;
  border: 1px solid #fff;
  background-color: #c9cacc;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--gray);
  text-align: center;
  cursor: pointer;
}
.formContact .buttonSend:hover {
  background-color: transparent;
  color: white;
}

.goTop {
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: 25px;
  right: -50px;
  background-color: #656565;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}
.goTop:hover {
  transform: scale(1.1);
}
.goTop .icon {
  width: 80%;
  fill: white;
}

.goTopActive {
  right: 25px;
}

@media (max-width: 1009px) {
  .proyectos .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  }
}

@media (min-width: 750px) {
  .about-me {
    gap: 20px;
    align-items: center;
  }
  .about-me .about-me-text {
    width: 50%;
    padding: 0 5px;
  }

  .about-me .about-me-text h2 {
    align-self: flex-start;
  }

  .about-me .about-me-text .cv {
    align-self: flex-start;
  }
  .header-main-content .content-text h1 {
    font-size: 3rem;
  }
  .header-main-content .content-text p {
    font-size: 1.7rem;
    width: 300px;
  }
}
